.menu-separator {
    display: none !important;
}

#mode {
    display: none !important;
}

html:not([data-dark-mode]) svg:has(image) {
    filter: none !important;
}

pre[class*=language-] {
    background-image: linear-gradient(to right, #131418, #1a1b1b) !important;
}

.wrapper {
    max-width: calc(920px - (30px * 2)) !important;
}

nav > .logo svg {
    height: 15px;
    width: 30px;
}

html.dark table th {
    text-align: start !important;
}

main {
    margin-bottom: 40px !important;
}

code[class*="language-"] {
    background: transparent !important;
}

td code {
    font-size: .9em;
    padding: 1px 3px;
    position: relative;
    top: -1px;
    color: #c2c4ca;
    background-color: #2d2d2d;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, .1);
}

.page-content>p:not(:first-of-type) {
    padding-top: 10px !important;
}


.page-content>p {
    padding-top: 0px;
    padding-bottom: 0px !important;
}

a code {
    font-size: .9em;
    padding: 1px 3px;
    position: relative;
    top: -1px;
    color: #c2c4ca !important;
    background-color: #2d2d2d;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, .1);
}

a code:hover {
    color: #d2d4db !important;
    text-decoration-line: underline;
}

a code:active {
    color: #7c7d82 !important;
    text-decoration-line: underline;
}